<?xml version="1.0"?>
<config>
  <modules>
    <Fourtek_ReturnOrder>
      <version>1.0.0</version>
    </Fourtek_ReturnOrder>
  </modules>
  <frontend>
    <routers>
      <returnorder>
        <use>standard</use>
          <args>
            <module>Fourtek_ReturnOrder</module>
            <frontName>returnorder</frontName>
          </args>
      </returnorder>
    </routers>
		<layout>
		  <updates>
			<returnorder>
			  <file>returnorder.xml</file>
			</returnorder>
		  </updates>
		</layout>
  </frontend>
  <global>
  <sales>
	<order>
	  <statuses>
		<return translate="label"><label>Return</label></return>
	  </statuses>
	  <states>
		<new>
		  <statuses>
			<return />
		  </statuses>
		</new>
	  </states>
	</order>
 </sales>
    <helpers>
      <returnorder>
        <class>Fourtek_ReturnOrder_Helper</class>
      </returnorder>
    </helpers>
	<blocks>
	  <returnorder>
		<class>Fourtek_ReturnOrder_Block</class>
	  </returnorder>
	</blocks>
	<models>
	  <returnorder>
		<class>Fourtek_ReturnOrder_Model</class>
		<resourceModel>returnorder_mysql4</resourceModel>
	  </returnorder>
	  <returnorder_mysql4>
		<class>Fourtek_ReturnOrder_Model_Mysql4</class>
		<entities>		  
			  <fourtek>
				<table>returnorder</table>
			  </fourtek>
        </entities>
	  </returnorder_mysql4>
	</models>
	<resources>
	  <returnorder_setup>
		<setup>
		  <module>Fourtek_ReturnOrder</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </returnorder_setup>
	  <returnorder_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </returnorder_write>
	  <returnorder_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </returnorder_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <returnorder>
	    <use>admin</use>
		<args>
		  <module>Fourtek_ReturnOrder</module>
		  <frontName>admin_returnorder</frontName>
		</args>
	  </returnorder>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <returnorder module="returnorder">
		<title>Return Order</title>
		<sort_order>55</sort_order>
		<children>
		  <fourtek module="returnorder">
		    <title>Comments</title>
			<sort_order>0</sort_order>
			<action>admin_returnorder/adminhtml_fourtek</action>
		  </fourtek>
		</children>
	  </returnorder>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<returnorder translate="title" module="returnorder">
			  <title>ReturnOrder</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <fourtek translate="title">
			<title>Manage Fourtek</title>
			<sort_order>0</sort_order>
		  </fourtek>
			  </children>
			</returnorder>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<returnorder>
		  <file>returnorder.xml</file>
		</returnorder>
	  </updates>
	</layout>
  </adminhtml>
</config> 